In [38]:
import pandas as pd
import json

import nltk
import pandas as pd
import numpy as np
import re
import time
import sys
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.tokenize import RegexpTokenizer
from pprint import pprint
from functools import reduce
from matplotlib import pyplot as plt
import string

import string
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.model_selection import KFold
from gensim import corpora
from gensim.models.ldamodel import LdaModel
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
import xgboost as xgb
from tqdm import tqdm
from tabulate import tabulate
import argparse

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from textblob import TextBlob
import re
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, classification_report,

from xgboost import XGBClassifier

SyntaxError: trailing comma not allowed without surrounding parentheses (<ipython-input-38-f776a63a5f17>, line 44)

In [39]:
temp = pd.read_csv('For_preprocessing.csv')
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4768 entries, 0 to 4767
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Review_Text  4763 non-null   object
 1   Sentiment    4766 non-null   object
dtypes: object(2)
memory usage: 74.6+ KB

In [40]:
temp

                                            Review_Text Sentiment
0     Its really nice place to stay especially for b...         3
1     It seems that hotel does not check the basic a...         1
2     Worst hotel I have ever encountered. I will ne...         1
3     Had a good time in this hotel and the staff Ku...         3
4     good hotel and staff Veg food good non veg bre...         3
...                                                 ...       ...
4763  My fifth stay at the hotel for business. Rooms...         3
4764                                          enjoyable         3
4765  Most impressive service by staff in all areas....         3
4766  The linens were smelling bad, and the elevator...         1
4767  Stayed at the Hyatt in Chennai for the first t...         3

[4768 rows x 2 columns]

In [41]:
temp=temp.dropna(subset=['Review_Text'])
temp=temp.dropna(subset=['Sentiment'])
temp = temp.reset_index(drop=True)
temp_val = temp['Sentiment'].tolist()
#len(temp_val)
ind_list = []

for i in range(len(temp['Sentiment'])):
    if temp_val[i] != '1' and temp_val[i] != '2' and temp_val[i] != '3':
        ind_list.append(i)
temp.reset_index(drop=True)
temp.drop(temp.index[ind_list], inplace=True)

In [42]:
type(temp['Sentiment'][0])

str

In [43]:
temp = temp.reset_index(drop=True)
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4699 entries, 0 to 4698
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Review_Text  4699 non-null   object
 1   Sentiment    4699 non-null   object
dtypes: object(2)
memory usage: 73.5+ KB

In [60]:
def text_processing(tweet):
    
    #Generating the list of words in the tweet (punctuations removed)
    def form_sentence(tweet):
        tweet_blob = TextBlob(tweet)
        return ' '.join(tweet_blob.words)
    new_tweet = form_sentence(tweet)
    
    #Removing stopwords and words with unusual symbols
    def no_user_alpha(tweet):
        tweet_list = [ele for ele in tweet.split()]
        clean_tokens = [t for t in tweet_list if re.match(r'[^\W\d]*$', t)]
        clean_s = ' '.join(clean_tokens)
        clean_mess = [word for word in clean_s.split() if word.lower() not in stopwords.words('english')]
        return clean_mess
    no_punc_tweet = no_user_alpha(new_tweet)
    
    #Normalizing the words in tweets 
    def normalization(tweet_list):
        lem = WordNetLemmatizer()
        normalized_tweet = []
        for word in tweet_list:
            normalized_text = lem.lemmatize(word,'v')
            normalized_tweet.append(normalized_text)
        return normalized_tweet
    
    
    return normalization(no_punc_tweet)

In [61]:
def tokenize_reg():
    temp['Review_Text'] = temp['Review_Text'].replace(r'http\S+','',regex=True).replace(r'www\S+','',regex=True).replace(r'\d+','',regex=True)
    tokens = RegexpTokenizer(r'\w+')
    temp['Review_Text']=temp['Review_Text'].apply(lambda x:tokens.tokenize(x.lower()))
    stop_words = set(stopwords.words('english')) 
    stop_words = stop_words.union(",","(",")","[","]","{","}","#","@","!",":",";",".","?")
    temp['Review_Text'] = temp['Review_Text'].apply(lambda x: [item for item in x if item not in stop_words])
tokenize_reg()

In [62]:
lem = WordNetLemmatizer()
def lemm(text):
    sent=[]
    for word in text:
        sent.append(lem.lemmatize(word))
    return sent

ps=PorterStemmer()

def stemm(text):        
    sent = []
    for word in text:
        sent.append(ps.stem(word))
    return sent

temp['Review_Text'] =  temp.apply(lambda x: stemm(lemm(x['Review_Text'])), axis=1)

In [68]:
revs=temp['Review_Text'].tolist()
for i in range(len(revs)):
    revs[i]=' '.join(revs[i])
temp['Review_Text'] = revs
temp

                                            Review_Text Sentiment
0     realli nice place stay especi busi tourist purpos         3
1     seem hotel check basic amen room hand room tra...         1
2     worst hotel ever encount never think stay thii...         1
3     good time hotel staff kumar aishwarya hous kee...         3
4     good hotel staff veg food good non veg breakfa...         3
...                                                 ...       ...
4694  fifth stay hotel busi room great restaur excel...         3
4695                                              enjoy         3
4696  impress servic staff area good restaur fit cen...         3
4697  linen smell bad elev pungent odour housekeep p...         1
4698  stay hyatt chennai first time refresh chang ho...         3

[4699 rows x 2 columns]

In [70]:
st = temp['Sentiment'].tolist()
st=set(st)

In [71]:
st

{'1', '2', '3'}

In [72]:
countVec = CountVectorizer(analyzer=text_processing)
countVec.fit(temp["Review_Text"])
list(countVec.vocabulary_.items())

[('realli', 3140),
 ('nice', 2592),
 ('place', 2895),
 ('stay', 3691),
 ('especi', 1295),
 ('busi', 537),
 ('tourist', 3972),
 ('purpos', 3061),
 ('seem', 3415),
 ('hotel', 1837),
 ('check', 645),
 ('basic', 347),
 ('amen', 138),
 ('room', 3306),
 ('hand', 1713),
 ('travel', 3996),
 ('phone', 2873),
 ('work', 4308),
 ('creat', 921),
 ('problem', 3020),
 ('hectic', 1752),
 ('day', 987),
 ('would', 4322),
 ('like', 2217),
 ('relax', 3199),
 ('pace', 2761),
 ('send', 3424),
 ('technician', 3849),
 ('keep', 2077),
 ('look', 2262),
 ('fix', 1452),
 ('hour', 1844),
 ('get', 1603),
 ('chang', 626),
 ('worst', 4318),
 ('ever', 1306),
 ('encount', 1261),
 ('never', 2576),
 ('think', 3903),
 ('thii', 3899),
 ('futur', 1567),
 ('good', 1636),
 ('time', 3936),
 ('staff', 3666),
 ('kumar', 2139),
 ('aishwarya', 95),
 ('hous', 1846),
 ('guy', 1695),
 ('sure', 3784),
 ('name', 2531),
 ('peopl', 2846),
 ('make', 2319),
 ('pleasant', 2908),
 ('happi', 1723),
 ('back', 306),
 ('chennai', 653),
 ('job', 2037),
 ('veg', 4163),
 ('food', 1487),
 ('non', 2611),
 ('breakfast', 492),
 ('need', 2558),
 ('improv', 1904),
 ('great', 1664),
 ('welcom', 4264),
 ('help', 1756),
 ('alway', 128),
 ('mostli', 2486),
 ('clean', 708),
 ('bathroom', 352),
 ('care', 572),
 ('first', 1447),
 ('hot', 1834),
 ('water', 4245),
 ('second', 3408),
 ('one', 2696),
 ('take', 3813),
 ('long', 2258),
 ('drain', 1169),
 ('tub', 4017),
 ('plu', 2915),
 ('paint', 2768),
 ('caulk', 597),
 ('peel', 2840),
 ('wall', 4224),
 ('point', 2921),
 ('restaur', 3258),
 ('excel', 1328),
 ('custom', 963),
 ('servic', 3439),
 ('awesom', 289),
 ('luxuri', 2293),
 ('friendli', 1540),
 ('comfort', 769),
 ('polit', 2926),
 ('brick', 496),
 ('oven', 2744),
 ('chef', 651),
 ('extrem', 1369),
 ('meal', 2383),
 ('advertis', 65),
 ('recommend', 3162),
 ('overal', 2745),
 ('best', 406),
 ('experi', 1350),
 ('decent', 999),
 ('price', 2993),
 ('trip', 4009),
 ('two', 4027),
 ('find', 1440),
 ('perfect', 2850),
 ('cleanli', 711),
 ('locat', 2242),
 ('also', 121),
 ('valu', 4149),
 ('money', 2475),
 ('suggest', 3763),
 ('offer', 2666),
 ('least', 2191),
 ('includ', 1911),
 ('case', 584),
 ('singl', 3515),
 ('occup', 2653),
 ('doubl', 1162),
 ('deal', 993),
 ('nagar', 2526),
 ('close', 727),
 ('shop', 3478),
 ('hub', 1851),
 ('cult', 949),
 ('south', 3603),
 ('indian', 1923),
 ('saravana', 3364),
 ('murugan', 2511),
 ('spaciou', 3610),
 ('well', 4265),
 ('light', 2215),
 ('courteou', 904),
 ('simpl', 3510),
 ('min', 2429),
 ('process', 3023),
 ('complimentari', 801),
 ('pick', 2882),
 ('drop', 1184),
 ('airport', 92),
 ('thing', 3902),
 ('add', 46),
 ('certainli', 617),
 ('increas', 1917),
 ('recept', 3151),
 ('otherwis', 2729),
 ('noth', 2624),
 ('bad', 311),
 ('super', 3773),
 ('enjoy', 1269),
 ('neg', 2562),
 ('right', 3284),
 ('smooth', 3557),
 ('rememb', 3209),
 ('resid', 3244),
 ('zodiac', 4358),
 ('better', 409),
 ('heart', 1745),
 ('district', 1133),
 ('easili', 1214),
 ('access', 18),
 ('mode', 2458),
 ('difficulti', 1083),
 ('understand', 4058),
 ('english', 1267),
 ('rest', 3255),
 ('tabl', 3804),
 ('chair', 620),
 ('pc', 2831),
 ('lan', 2156),
 ('cabl', 551),
 ('much', 2504),
 ('dust', 1198),
 ('wifi', 4287),
 ('internet', 1974),
 ('speed', 3622),
 ('bar', 337),
 ('waiter', 4219),
 ('serv', 3435),
 ('tandoori', 3822),
 ('chicken', 664),
 ('salti', 3351),
 ('friend', 1539),
 ('accord', 26),
 ('rate', 3124),
 ('star', 3681),
 ('continu', 855),
 ('topper', 3964),
 ('visit', 4204),
 ('famili', 1388),
 ('appear', 190),
 ('checkout', 649),
 ('provid', 3042),
 ('sinc', 3512),
 ('small', 3547),
 ('luggag', 2289),
 ('suitabl', 3765),
 ('japan', 2023),
 ('quantiti', 3072),
 ('worth', 4319),
 ('neat', 2552),
 ('etc', 1297),
 ('central', 611),
 ('area', 210),
 ('lot', 2270),
 ('option', 2714),
 ('eat', 1217),
 ('tast', 3831),
 ('qualiti', 3071),
 ('could', 894),
 ('build', 526),
 ('level', 2208),
 ('spend', 3627),
 ('thank', 3885),
 ('offici', 2669),
 ('facil', 1377),
 ('everyth', 1311),
 ('fine', 1441),
 ('spread', 3647),
 ('situat', 3523),
 ('prime', 3002),
 ('easi', 1212),
 ('connect', 835),
 ('group', 1677),
 ('citi', 696),
 ('book', 469),
 ('mani', 2335),
 ('spoil', 3640),
 ('choic', 675),
 ('loung', 2276),
 ('terrac', 3871),
 ('view', 4190),
 ('rent', 3218),
 ('cab', 550),
 ('charg', 633),
 ('regular', 3193),
 ('free', 1523),
 ('wi', 4283),
 ('fi', 1432),
 ('ok', 2676),
 ('howev', 1848),
 ('timetaken', 3937),
 ('resond', 3248),
 ('poor', 2936),
 ('menu', 2400),
 ('daili', 970),
 ('toiletri', 3954),
 ('towel', 3974),
 ('replenish', 3231),
 ('insuffici', 1961),
 ('fantast', 1394),
 ('profession', 3025),
 ('three', 3914),
 ('insid', 1950),
 ('plenti', 2913),
 ('varieti', 4156),
 ('perhap', 2853),
 ('almost', 113),
 ('sell', 3419),
 ('durat', 1196),
 ('ask', 235),
 ('k', 2054),
 ('without', 4297),
 ('even', 1303),
 ('complementari', 797),
 ('bottl', 477),
 ('wow', 4323),
 ('wife', 4286),
 ('januari', 2021),
 ('front', 1546),
 ('offic', 2668),
 ('everi', 1307),
 ('turn', 4022),
 ('adequ', 51),
 ('person', 2862),
 ('ideal', 1876),
 ('activ', 40),
 ('physic', 2877),
 ('quit', 3088),
 ('larg', 2163),
 ('lobbi', 2239),
 ('littl', 2231),
 ('detract', 1061),
 ('safe', 3337),
 ('malfunct', 2324),
 ('leave', 2194),
 ('bandwidth', 331),
 ('overli', 2749),
 ('max', 2374),
 ('email', 1250),
 ('imposs', 1899),
 ('fit', 1450),
 ('joke', 2040),
 ('pillow', 2889),
 ('differ', 1080),
 ('size', 3527),
 ('dirti', 1102),
 ('stain', 3672),
 ('curtain', 959),
 ('next', 2584),
 ('bed', 378),
 ('walk', 4222),
 ('studi', 3731),
 ('slow', 3543),
 ('intern', 1972),
 ('accept', 17),
 ('discov', 1114),
 ('card', 571),
 ('maintain', 2312),
 ('extraordinari', 1368),
 ('park', 2800),
 ('desk', 1054),
 ('warm', 4230),
 ('arrang', 219),
 ('cradl', 915),
 ('month', 2477),
 ('old', 2682),
 ('babi', 304),
 ('wide', 4284),
 ('properti', 3039),
 ('bite', 434),
 ('bath', 350),
 ('toilet', 3953),
 ('white', 4280),
 ('cushion', 962),
 ('tear', 3846),
 ('shower', 3484),
 ('window', 4289),
 ('musti', 2516),
 ('smell', 3551),
 ('wait', 4218),
 ('u', 4031),
 ('visa', 4200),
 ('applic', 196),
 ('probabl', 3019),
 ('definit', 1013),
 ('cramp', 916),
 ('felt', 1422),
 ('plane', 2899),
 ('outstand', 2742),
 ('though', 3912),
 ('mainland', 2310),
 ('els', 1248),
 ('come', 765),
 ('way', 4247),
 ('near', 2546),
 ('claim', 698),
 ('disappoint', 1104),
 ('cleannessne', 713),
 ('carenessemploye', 574),
 ('restur', 3264),
 ('enough', 1271),
 ('maintainc', 2313),
 ('soon', 3590),
 ('enter', 1274),
 ('touch', 3969),
 ('anyth', 179),
 ('wors', 4317),
 ('cheap', 640),
 ('motel', 2487),
 ('want', 4228),
 ('mention', 2399),
 ('expedia', 1348),
 ('consul', 847),
 ('rather', 3125),
 ('minut', 2441),
 ('go', 1627),
 ('evn', 1316),
 ('big', 419),
 ('mall', 2325),
 ('nearbi', 2547),
 ('pool', 2935),
 ('th', 3878),
 ('floor', 1472),
 ('sever', 3445),
 ('nobodi', 2606),
 ('attend', 254),
 ('outdat', 2734),
 ('tv', 4024),
 ('counter', 897),
 ('possibl', 2954),
 ('train', 3983),
 ('attrit', 258),
 ('checkin', 647),
 ('categori', 593),
 ('terribl', 3873),
 ('layout', 2178),
 ('properli', 3038),
 ('guest', 1688),
 ('call', 556),
 ('handl', 1715),
 ('request', 3237),
 ('put', 3063),
 ('reserv', 3243),
 ('night', 2596),
 ('club', 734),
 ('dj', 1137),
 ('parti', 2803),
 ('goer', 1629),
 ('yyy', 4353),
 ('restroom', 3262),
 ('corridor', 884),
 ('pathway', 2822),
 ('morn', 2481),
 ('coupl', 900),
 ('mainten', 2315),
 ('crack', 914),
 ('seepag', 3416),
 ('manag', 2330),
 ('spruce', 3649),
 ('accommod', 23),
 ('arriv', 220),
 ('reach', 3130),
 ('advanc', 63),
 ('beauti', 371),
 ('fill', 1437),
 ('interview', 1976),
 ('cooper', 874),
 ('pro', 3016),
 ('embassi', 1252),
 ('gym', 1698),
 ('swim', 3798),
 ('con', 809),
 ('wear', 4253),
 ('prize', 3015),
 ('buffet', 519),
 ('advantag', 64),
 ('within', 4296),
 ('mile', 2427),
 ('radiu', 3099),
 ('inspir', 1952),
 ('review', 3272),
 ('write', 4325),
 ('read', 3134),
 ('tip', 3940),
 ('allow', 111),
 ('spite', 3636),
 ('payment', 2830),
 ('onlin', 2700),
 ('nearli', 2551),
 ('final', 1439),
 ('give', 1618),
 ('id', 1874),
 ('proof', 3035),
 ('yet', 4342),
 ('altern', 124),
 ('solut', 3576),
 ('equip', 1286),
 ('team', 3844),
 ('use', 4125),
 ('avail', 273),
 ('tri', 4006),
 ('renov', 3217),
 ('leak', 2186),
 ('pub', 3046),
 ('mattress', 2372),
 ('soft', 3569),
 ('pain', 2767),
 ('high', 1774),
 ('replac', 3230),
 ('must', 2515),
 ('stage', 3670),
 ('tap', 3824),
 ('leaki', 2188),
 ('health', 1741),
 ('faucet', 1402),
 ('space', 3609),
 ('opposit', 2711),
 ('forget', 1499),
 ('someth', 3582),
 ('quickli', 3082),
 ('except', 1330),
 ('boast', 457),
 ('aw', 283),
 ('pickl', 2884),
 ('side', 3494),
 ('dish', 1120),
 ('poorli', 2939),
 ('dull', 1191),
 ('unkempt', 4079),
 ('fall', 1386),
 ('apart', 183),
 ('repair', 3224),
 ('repaint', 3223),
 ('outsid', 2739),
 ('bird', 430),
 ('ac', 16),
 ('bedsheet', 382),
 ('posit', 2953),
 ('co', 739),
 ('ordin', 2720),
 ('bill', 424),
 ('someon', 3580),
 ('kind', 2108),
 ('wholesom', 4282),
 ('discern', 1106),
 ('dine', 1090),
 ('housekeep', 1847),
 ('concierg', 815),
 ('return', 3267),
 ('dinner', 1093),
 ('pricey', 2997),
 ('amaz', 130),
 ('downsid', 1165),
 ('discolor', 1109),
 ('sink', 3516),
 ('ambianc', 133),
 ('tray', 3998),
 ('clear', 715),
 ('dissapoint', 1128),
 ('say', 3384),
 ('expens', 1349),
 ('tax', 3837),
 ('car', 570),
 ('taxi', 3838),
 ('greatli', 1666),
 ('anna', 162),
 ('salai', 3347),
 ('lunch', 2290),
 ('cost', 887),
 ('expect', 1347),
 ('presenc', 2984),
 ('vanakkam', 4152),
 ('perform', 2852),
 ('door', 1154),
 ('smile', 3554),
 ('complaint', 795),
 ('raintre', 3110),
 ('attent', 255),
 ('top', 3963),
 ('line', 2219),
 ('immacul', 1892),
 ('base', 344),
 ('visitor', 4205),
 ('appreci', 200),
 ('dustbin', 1199),
 ('wc', 4249),
 ('ventil', 4169),
 ('perman', 2857),
 ('pleas', 2907),
 ('adjust', 55),
 ('fairli', 1384),
 ('kettl', 2083),
 ('condit', 820),
 ('upto', 4117),
 ('lemon', 2202),
 ('tree', 4002),
 ('standard', 3679),
 ('far', 1395),
 ('mayb', 2378),
 ('overpr', 2752),
 ('satisfi', 3375),
 ('date', 984),
 ('router', 3316),
 ('sub', 3741),
 ('age', 76),
 ('heavi', 1749),
 ('usag', 4122),
 ('toll', 3955),
 ('major', 2317),
 ('chain', 619),
 ('smoke', 3555),
 ('term', 3869),
 ('hygien', 1867),
 ('compar', 788),
 ('higher', 1775),
 ('oper', 2706),
 ('class', 702),
 ('leman', 2201),
 ('henc', 1762),
 ('railway', 3106),
 ('station', 3688),
 ('compani', 787),
 ('air', 87),
 ('uncomfort', 4051),
 ('sleep', 3537),
 ('difficult', 1082),
 ('imagin', 1891),
 ('washroom', 4237),
 ('bare', 339),
 ('move', 2493),
 ('around', 217),
 ('truli', 4014),
 ('absolut', 12),
 ('total', 3966),
 ('wast', 4241),
 ('allot', 110),
 ('mark', 2351),
 ('fruit', 1548),
 ('moreov', 2480),
 ('match', 2366),
 ('see', 3413),
 ('photo', 2874),
 ('reduc', 3173),
 ('doubt', 1163),
 ('quiet', 3083),
 ('averag', 277),
 ('spa', 3608),
 ('wish', 4294),
 ('behaviour', 390),
 ('drink', 1179),
 ('equal', 1285),
 ('conveni', 860),
 ('rail', 3104),
 ('prompt', 3032),
 ('aroma', 215),
 ('compris', 806),
 ('abl', 5),
 ('asko', 236),
 ('away', 288),
 ('hospit', 1829),
 ('pay', 2827),
 ('short', 3480),
 ('costli', 888),
 ('schedul', 3389),
 ('type', 4029),
 ('feedback', 1418),
 ('format', 1503),
 ('somewhat', 3585),
 ('sorri', 3596),
 ('late', 2169),
 ('repli', 3233),
 ('actual', 43),
 ('india', 1921),
 ('four', 1513),
 ('mislead', 2448),
 ('hilton', 1785),
 ('worker', 4309),
 ('shout', 3482),
 ('disturb', 1135),
 ('box', 483),
 ('tick', 3927),
 ('break', 491),
 ('fast', 1400),
 ('mr', 2496),
 ('dinesh', 1091),
 ('assist', 242),
 ('till', 3935),
 ('period', 2854),
 ('vacat', 4141),
 ('somewher', 3586),
 ('flight', 1469),
 ('path', 2819),
 ('adjac', 53),
 ('main', 2309),
 ('road', 3296),
 ('lorri', 2267),
 ('driver', 1182),
 ('horn', 1824),
 ('brake', 485),
 ('hyatt', 1864),
 ('week', 4258),
 ('primarili', 3001),
 ('wed', 4257),
 ('hold', 1803),
 ('unfortun', 4067),
 ('rooftop', 3305),
 ('open', 2705),
 ('pm', 2918),
 ('noisi', 2608),
 ('disco', 1108),
 ('music', 2513),
 ('full', 1553),
 ('volum', 4209),
 ('nowher', 2631),
 ('sit', 3521),
 ('avoid', 282),
 ('channai', 627),
 ('pitfal', 2892),
 ('support', 3780),
 ('lose', 2268),
 ('translat', 3990),
 ('anoth', 168),
 ('notch', 2621),
 ('decor', 1002),
 ('garment', 1582),
 ('industri', 1928),
 ('stun', 3735),
 ('quick', 3081),
 ('effici', 1231),
 ('complain', 794),
 ('let', 2206),
 ('eas', 1211),
 ('love', 2278),
 ('everyon', 1310),
 ('error', 1289),
 ('ambienc', 135),
 ('cater', 594),
 ('round', 3314),
 ('clock', 725),
 ('ensur', 1273),
 ('kudo', 2138),
 ('per', 2849),
 ('wherea', 4277),
 ('remain', 3207),
 ('live', 2232),
 ('hype', 1868),
 ('part', 2801),
 ('roof', 3304),
 ('flagship', 1459),
 ('fli', 1468),
 ('eleph', 1245),
 ('happen', 1722),
 ('weekend', 4259),
 ('guess', 1687),
 ('entri', 1280),
 ('excit', 1333),
 ('unparallel', 4089),
 ('transport', 3992),
 ('upcom', 4107),
 ('le', 2182),
 ('pocket', 2919),
 ('modern', 2461),
 ('feel', 1419),
 ('everybodi', 1308),
 ('treat', 4000),
 ('special', 3617),
 ('pungent', 3053),
 ('inform', 1937),
 ('alloc', 109),
 ('new', 2578),
 ('multipl', 2508),
 ('follow', 1485),
 ('prepar', 2982),
 ('wonder', 4302),
 ('reason', 3142),
 ('mine', 2432),
 ('xma', 4329),
 ('year', 4340),
 ('brilliant', 501),
 ('yard', 4336),
 ('town', 3976),
 ('squar', 3650),
 ('lucki', 2287),
 ('grade', 1658),
 ('superb', 3774),
 ('loft', 2248),
 ('convers', 862),
 ('poster', 2957),
 ('bright', 499),
 ('sunday', 3770),
 ('decid', 1000),
 ('guindi', 1693),
 ('cherish', 656),
 ('delight', 1025),
 ('splendid', 3637),
 ('five', 1451),
 ('sum', 3766),
 ('crisp', 933),
 ('centr', 610),
 ('wrong', 4326),
 ('continent', 854),
 ('subdu', 3742),
 ('stylish', 3738),
 ('pleasur', 2911),
 ('infin', 1934),
 ('leela', 2195),
 ('palac', 2770),
 ('target', 3826),
 ('exercis', 1340),
 ('atmospher', 250),
 ('calm', 557),
 ('stick', 3698),
 ('bkhkhjuoipoioioi', 439),
 ('hkhghkhkhkjh', 1798),
 ('ghjggjhghggg', 1609),
 ('sad', 3335),
 ('polici', 2925),
 ('com', 762),
 ('valid', 4147),
 ('directli', 1099),
 ('din', 1089),
 ('hall', 1709),
 ('saw', 3383),
 ('upkeep', 4110),
 ('confirm', 826),
 ('record', 3165),
 ('ceil', 603),
 ('prefer', 2978),
 ('brighter', 500),
 ('cosi', 886),
 ('funtion', 1560),
 ('pressur', 2988),
 ('respons', 3254),
 ('miss', 2451),
 ('formal', 1502),
 ('repres', 3235),
 ('surround', 3789),
 ('hr', 1849),
 ('requir', 3238),
 ('upgrad', 4109),
 ('strongli', 3728),
 ('market', 2353),
 ('center', 607),
 ('play', 2903),
 ('design', 1052),
 ('gentl', 1595),
 ('skill', 3532),
 ('foreign', 1497),
 ('order', 2718),
 ('fish', 1449),
 ('fri', 1536),
 ('damag', 973),
 ('home', 1808),
 ('environ', 1282),
 ('honour', 1819),
 ('southern', 3604),
 ('favourit', 1407),
 ('delay', 1019),
 ('initi', 1943),
 ('third', 3904),
 ('graciou', 1657),
 ('run', 3324),
 ('pictur', 2886),
 ('walkabl', 4223),
 ('distanc', 1131),
 ('downstair', 1166),
 ('whenev', 4275),
 ('afford', 72),
 ('sapc', 3363),
 ('procedur', 3021),
 ('ad', 44),
 ('zone', 4359),
 ('game', 1573),
 ('alon', 115),
 ('memor', 2395),
 ('congest', 831),
 ('may', 2376),
 ('econom', 1220),
 ('st', 3661),
 ('march', 2347),
 ('nestl', 2572),
 ('meet', 2391),
 ('attach', 252),
 ('strateg', 3718),
 ('face', 1375),
 ('challeng', 621),
 ('blossom', 451),
 ('fulli', 1554),
 ('furnish', 1562),
 ('serf', 3431),
 ('boon', 471),
 ('viabl', 4186),
 ('factor', 1379),
 ('privaci', 3009),
 ('member', 2393),
 ('child', 667),
 ('pass', 2808),
 ('leisur', 2197),
 ('stroll', 3726),
 ('grind', 1674),
 ('behav', 388),
 ('sober', 3565),
 ('issu', 2000),
 ('annoy', 167),
 ('control', 859),
 ('panel', 2783),
 ('certain', 616),
 ('item', 2007),
 ('condition', 821),
 ('heater', 1747),
 ('cold', 751),
 ('iam', 1871),
 ('frequent', 1530),
 ('v', 4137),
 ('meter', 2411),
 ('simpli', 3511),
 ('md', 2380),
 ('crowd', 939),
 ('narrow', 2537),
 ('vehicl', 4166),
 ('gate', 1584),
 ('entranc', 1279),
 ('marina', 2350),
 ('beach', 365),
 ('okay', 2677),
 ('peac', 2836),
 ('inn', 1944),
 ('address', 50),
 ('track', 3979),
 ('addr', 49),
 ('impropp', 1903),
 ('brother', 505),
 ('admiss', 57),
 ('bigger', 421),
 ('do', 1141),
 ('whatev', 4272),
 ('websit', 4256),
 ('real', 3138),
 ('tour', 3971),
 ('anyway', 181),
 ('budget', 516),
 ('hope', 1822),
 ('septemb', 3429),
 ('tidi', 3929),
 ('aircon', 88),
 ('cool', 872),
 ('tramp', 3986),
 ('street', 3720),
 ('thailand', 3881),
 ('forward', 1511),
 ('tell', 3857),
 ('muslim', 2514),
 ('alcohol', 103),
 ('strictli', 3724),
 ('forbid', 1494),
 ('western', 4267),
 ('across', 37),
 ('impress', 1901),
 ('local', 2240),
 ('pretti', 2989),
 ('admit', 58),
 ('rebat', 3144),
 ('inr', 1946),
 ('anyon', 177),
 ('mid', 2420),
 ('conjunct', 833),
 ('north', 2618),
 ('middl', 2422),
 ('appoint', 198),
 ('shabbi', 3451),
 ('neighbourhood', 2569),
 ('dodgi', 1144),
 ('ananda', 156),
 ('bhawan', 416),
 ('approach', 203),
 ('doesnt', 1145),
 ('matter', 2371),
 ('summer', 3767),
 ('fan', 1391),
 ('c', 549),
 ('useabl', 4126),
 ('consid', 839),
 ('tasti', 3832),
 ('mosquito', 2485),
 ('repel', 3228),
 ('anywher', 182),
 ('fashion', 1399),
 ('coffe', 747),
 ('colleagu', 755),
 ('itali', 2002),
 ('furnitur', 1563),
 ('ihom', 1884),
 ('system', 3803),
 ('compat', 790),
 ('current', 957),
 ('iphon', 1985),
 ('ipad', 1984),
 ('radisson', 3098),
 ('benefit', 400),
 ('proxim', 3044),
 ('traffic', 3982),
 ('clutter', 736),
 ('although', 125),
 ('readi', 3136),
 ('bodhi', 459),
 ('start', 3684),
 ('fulfil', 1552),
 ('holiday', 1806),
 ('pickup', 2885),
 ('pre', 2976),
 ('precomput', 2977),
 ('registr', 3190),
 ('key', 2084),
 ('weaker', 4252),
 ('nearer', 2549),
 ('wit', 4295),
 ('costlier', 889),
 ('bathtub', 357),
 ('shall', 3453),
 ('verynic', 4179),
 ('antast', 171),
 ('low', 2280),
 ('raddison', 3094),
 ('fell', 1420),
 ('poll', 2928),
 ('pa', 2760),
 ('fflhlxoxoxitxtxttcolgtcoxgxtixkrxrxfllxdridxfizgxoxixxtoxothcgchochcypyfcycoycyycyycpufotdtodtodotxyycpycyxpgxgpxyoxtoxpyxttxylhxpxphxogxttxxoh',
  1431),
 ('gcocgxggcogctcoggxotxoyxyxyocicotxotxxotxpyxyoxyoxoyxttxtixttxxhxoyyxxdypxyocyycogcxoxoycyycoyh',
  1589),
 ('courtesi', 906),
 ('clarifi', 699),
 ('immedi', 1893),
 ('cloth', 731),
 ('hang', 1717),
 ('enumer', 1281),
 ('confus', 829),
 ('helpful', 1758),
 ('chauffeur', 639),
 ('foot', 1491),
 ('massag', 2360),
 ('transfer', 3988),
 ('unwind', 4106),
 ('receptionist', 3152),
 ('unclean', 4049),
 ('plate', 2902),
 ...]

In [73]:
countVec_count = countVec.transform(temp["Review_Text"])

#make array from number of occurrences
occ = np.asarray(countVec_count.sum(axis=0)).ravel().tolist()

#make a new data frame with columns term and occurrences, meaning word and number of occurences
bowListFrame = pd.DataFrame({'term': countVec.get_feature_names(), 'occurrences': occ})
print(bowListFrame)

#sort in order of number of word occurences, most->least. if you leave of ascending flag should default ASC
bowListFrame.sort_values(by='occurrences', ascending=False).head(60)

          term  occurrences
0          aaa            1
1     aadithya            2
2          aap            1
3        abdul            1
4        abhay            1
...        ...          ...
4359      zone            6
4360       zoo            1
4361         ¹            1
4362         â            1
4363  économiq            1

[4364 rows x 2 columns]

           term  occurrences
1837      hotel         4813
1636       good         4345
3306       room         3198
3691       stay         2317
3439     servic         1688
3666      staff         1645
1487       food         1556
2242      locat         1426
2592       nice          976
492   breakfast          948
708       clean          945
2895      place          720
1664      great          718
121        also          705
1328      excel          604
653     chennai          604
3936       time          585
1377      facil          576
1350     experi          547
2745     overal          530
1756       help          525
2475      money          510
3042     provid          506
2696        one          492
2217       like          491
2558       need          479
3258    restaur          476
4265       well          473
645       check          459
4322      would          435
1603        get          426
3162  recommend          404
4149       valu          401
1540   friendli          399
4204      visit          395
2546       near          394
769     comfort          388
987         day          376
4308       work          374
537        busi          356
469        book          353
3140     realli          351
696        citi          337
406        best          326
3071    qualiti          325
2319       make          324
4031          u          321
92      airport          320
273       avail          307
2596      night          304
3996     travel          297
1269      enjoy          296
1388     famili          295
1627         go          280
352    bathroom          279
1904     improv          273
2993      price          273
1303       even          271
311         bad          268
727       close          262

In [74]:
textTransformer = TfidfTransformer()
textWeights = textTransformer.fit_transform(countVec_count)

In [75]:
#follow similar process to making new data frame with word occurrences, but with term weights
textWeightsFin = np.asarray(textWeights.mean(axis=0)).ravel().tolist()

#now that we've done Tfid, make a dataframe with weights and names
textWeightFrame = pd.DataFrame({'term': countVec.get_feature_names(), 'weight': textWeightsFin})
print(textWeightFrame)
textWeightFrame.sort_values(by='weight', ascending=False).head(20)

          term    weight
0          aaa  0.000067
1     aadithya  0.000116
2          aap  0.000053
3        abdul  0.000082
4        abhay  0.000086
...        ...       ...
4359      zone  0.000451
4360       zoo  0.000042
4361         ¹  0.000063
4362         â  0.000063
4363  économiq  0.000125

[4364 rows x 2 columns]

           term    weight
1636       good  0.083791
1837      hotel  0.075933
3306       room  0.052106
3691       stay  0.048487
3439     servic  0.037661
3666      staff  0.037209
1487       food  0.033517
2242      locat  0.032512
2592       nice  0.031078
708       clean  0.027143
492   breakfast  0.025835
1664      great  0.024977
1328      excel  0.022628
2895      place  0.021375
121        also  0.020541
1350     experi  0.019017
1377      facil  0.018094
1756       help  0.017994
2745     overal  0.017800
769     comfort  0.017766

In [76]:
import xgboost as xgb
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe

space={'max_depth': hp.quniform("max_depth", 3, 18, 1),
        'gamma': hp.uniform ('gamma', 1,9),
        'reg_alpha' : hp.quniform('reg_alpha', 40,180,1),
        'reg_lambda' : hp.uniform('reg_lambda', 0,1),
        'colsample_bytree' : hp.uniform('colsample_bytree', 0.5,1),
        'min_child_weight' : hp.quniform('min_child_weight', 0, 10, 1),
        'n_estimators': 180,
        'seed': 0
    }

In [77]:
X = temp['Review_Text']
y = temp['Sentiment']

#test = test_tweets['post']
from sklearn.model_selection import train_test_split
msg_train, msg_test, label_train, label_test = train_test_split(temp['Review_Text'], temp['Sentiment'], test_size=0.2)

In [26]:
def objective(space):
    
    clf=xgb.XGBClassifier(
                    n_estimators =space['n_estimators'], max_depth = int(space['max_depth']), gamma = space['gamma'],
                    reg_alpha = int(space['reg_alpha']),min_child_weight=int(space['min_child_weight']),
                    colsample_bytree=int(space['colsample_bytree']))
    
    evaluation = [( msg_train, label_train), ( msg_test, label_test)]
    
    clf.fit(msg_train, label_train,
            eval_set=evaluation, eval_metric="auc",
            early_stopping_rounds=10,verbose=False)
    

    pred = clf.predict(msg_test)
    accuracy = accuracy_score(test_y, pred>0.5)
    print ("SCORE:", accuracy)
    return {'loss': -accuracy, 'status': STATUS_OK }

In [25]:
trials = Trials()

best_hyperparams = fmin(fn = objective,
                        space = space,
                        algo = tpe.suggest,
                        max_evals = 100,
                        trials = trials)

  0%|                                                                          | 0/100 [00:00<?, ?trial/s, best loss=?]

job exception: Pipeline.fit does not accept the eval_set parameter. You can pass parameters to specific steps of your pipeline using the stepname__parameter format, e.g. `Pipeline.fit(X, y, logisticregression__sample_weight=sample_weight)`.

  0%|                                                                          | 0/100 [00:00<?, ?trial/s, best loss=?]

ValueError: Pipeline.fit does not accept the eval_set parameter. You can pass parameters to specific steps of your pipeline using the stepname__parameter format, e.g. `Pipeline.fit(X, y, logisticregression__sample_weight=sample_weight)`.

In [16]:


#Machine Learning Pipeline

pipeline = Pipeline([
    ('bow',CountVectorizer(analyzer=text_processing)),  # strings to token integer counts
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', xgb.XGBClassifier()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])
pipeline.fit(msg_train,label_train)

C:\Users\navvu\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[13:47:36] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function text_processing at 0x0000020B7A939040>)),
                ('tfidf', TfidfTransformer()),
                ('classifier',
                 XGBClassifier(base_score=0.5, booster='gbtree',
                               colsample_bylevel=1, colsample_bynode=1,
                               colsample_bytree=1, enable_categorical=False,
                               gamma=0, gpu_id=-1, importance_type=None,
                               interaction_constraints='',
                               learning_rate=0.300000012, max_delta_step=0,
                               max_depth=6, min_child_weight=1, missing=nan,
                               monotone_constraints='()', n_estimators=100,
                               n_jobs=8, num_parallel_tree=1,
                               objective='multi:softprob', predictor='auto',
                               random_state=0, reg_alpha=0, reg_lambda=1,
                               scale_pos_weight=None, subsample=1,
                               tree_method='exact', validate_parameters=1,
                               verbosity=None))])

In [17]:
predictions = pipeline.predict(msg_test)

# print("Classification report")
# print(classification_report(predictions,label_test))
print ("Confusion Matrix")
print(confusion_matrix(predictions,label_test))
print("Accuracy Score")
print(accuracy_score(predictions,label_test))

Confusion Matrix
[[ 48  13   8]
 [ 14  86  15]
 [ 28  68 660]]
Accuracy Score
0.8446808510638298

In [18]:
print("Classification report")
print(classification_report(predictions,label_test))

Classification report
              precision    recall  f1-score   support

           1       0.53      0.70      0.60        69
           2       0.51      0.75      0.61       115
           3       0.97      0.87      0.92       756

    accuracy                           0.84       940
   macro avg       0.67      0.77      0.71       940
weighted avg       0.88      0.84      0.86       940

In [66]:
df = pd.read_csv('kolkata_reviews.csv',encoding='utf-8')
df

                                                   text
0     I've made a booking with the help of Mr. Manoj...
1     I have been to this property in Jan 2022. Very...
2     Very good stay , loved the hospitality and war...
3     I had booked Holiday Inn express for 2 days fo...
4     Excellent stay.. well maintained property.. ve...
...                                                 ...
1995  During kolkata office visit stayed at Golden t...
1996  I was at the Golden Tulip for 5 days. And it w...
1997  The hotel does not have a very prominent locat...
1998  I had booked executive room, but the room prov...
1999  The hotel is everything one can ask for, the r...

[2000 rows x 1 columns]

In [67]:
predictions = pipeline.predict(df['text'])

In [68]:
df['Sentiment']=predictions
df

                                                   text Sentiment
0     I've made a booking with the help of Mr. Manoj...         3
1     I have been to this property in Jan 2022. Very...         3
2     Very good stay , loved the hospitality and war...         3
3     I had booked Holiday Inn express for 2 days fo...         3
4     Excellent stay.. well maintained property.. ve...         3
...                                                 ...       ...
1995  During kolkata office visit stayed at Golden t...         3
1996  I was at the Golden Tulip for 5 days. And it w...         3
1997  The hotel does not have a very prominent locat...         3
1998  I had booked executive room, but the room prov...         3
1999  The hotel is everything one can ask for, the r...         3

[2000 rows x 2 columns]

In [69]:
df['Sentiment'].value_counts()

3    2000
Name: Sentiment, dtype: int64